version: "3.8"
services:
  wg-easy:
    environment:
      # Language of the UI
      - LANG=ru
      # The public IP of your server (REQUIRED!)
      - WG_HOST=158.69.205.142
      # Admin Web UI Password (we should change this, but for now setting a default)
      - PASSWORD=changeme123
      # UDP Port for VPN Traffic
      - WG_PORT=51820
      - WG_DEFAULT_ADDRESS=10.8.0.x
      - WG_DEFAULT_DNS=1.1.1.1
      - WG_ALLOWED_IPS=0.0.0.0/0
      # Enable persistent keepalive
      - WG_persistent_keepalive=25
    image: ghcr.io/wg-easy/wg-easy
    container_name: wg-easy
    volumes:
      - ./config:/etc/wireguard
    ports:
      - "51820:51820/udp"
      - "51821:51821/tcp"
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.src_valid_mark=1
