{
    auto_https off
}

:80 {
    root * /srv
    encode gzip

    # Handle API requests (Proxy to backend)
    handle /api/* {
        reverse_proxy backend:3001
    }

    # Handle frontend requests (Serve React App)
    handle {
        try_files {path} /index.html
        file_server
    }
}
